/*universal styles*/
@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/architectsdaughter/v11/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: iranSans;
    src: url(./Resources/fonts/ttf/IRANSansWeb.ttf);
}
* {
    box-sizing: border-box;
    font-family: 'iranSans', tahoma, sans-serif;

}
body {
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;

}
html {
  font-size: 16px;

}
/*header section*/

.products__header {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0,0,0,16%);
}

.products__header img {
    float: right;
    margin: 4.1vw 4.1vw 4.1vw 4.1vw;
    width: 8%;

}
.products__header a {
    float: right;
    font-size: 20px;
    font-family: 'Architects Daughter';
    padding: 4.1vw 0;
    text-align: center;
    color: #22223A;
    text-decoration: none;
    color: #22223A;
}

.products__header .search__container {
    float: left;
}

.products__header input[type=text] {
    margin: 4.1vw 0;
    padding: 0.8vw 1.2vw;
    border: none;
    width: 35vw;
    height: 8vw;
    background-color: #F9F9F9;
    border-radius: 0px 8px 8px 0px;
    text-align: right;
}

.products__header .search__container button {
    float: left;
    padding: 0.8vw;
    margin-top: 4.1vw;
    margin-left: 4.1vw;
    background-color: #4F4E60;
    border-radius: 8px 0px 0px 8px;
    border: none;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    background-image: url('./Resources/SVGs/loupe.svg');
    background-position: 1.7vw 1.7vw;
    background-repeat: no-repeat;
    background-size: 4vw 4vw;
}

::placeholder {
    font-size: 0.6rem;
    color: #4F4E60;
}

/*title*/

.mobileTitle {
    position: absolute;
    top: 18vw;
    right: 5vw;
    display: grid;
    grid-template-columns: repeat (4, 20vw);
    grid-gap: 1vw;
    
    
  }
  .logo {
      grid-column: 4;
      grid-row: 1 / span 3;
      height: 15vw;
      width: 15vw;
      border-radius: 50%;
      outline: 0.2rem double #F0005E;
      margin-top: 4.5vw;
      margin-right: 4vw;
      fill: white;
  }

  .mobileTitle a {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 6vw;
    margin-right: 2vw;
}
  
  .mobileTitle span {
      grid-column: 3;
      grid-row: 1;
      text-align: right;
      margin-top: 12vw;
      font-size: 0.7rem;
      margin-right: 2vw;

  }

/*product image*/
main {
    display: block;
    margin: 0;
}
.productimg {
    position: relative;
    top: 28vw;
    
}

.productimg img {
    border: none;
    outline: none;
    padding: 0;
    border-radius: 0;
    width: 100%;
    height: auto;
}

.productimg span {
    position: relative;
    top: -5vw;
}
.circle {
    width: 1.5vw;
    height: 1.5vw;
}

/*properties*/

.productproperties {
    position: relative;
    top: 28vw;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 48vw!important;
}
.producttitle {
    width: 90%;
    border-bottom: 1px solid #E0E2DB;
    margin: auto;


}
.producttitle h1 {
    font-size: 1.2rem;
    margin-right: 5vw;
}
.pricebox button {
    width: 30vw;
    color: #F0005E;
    background-color: #ffffff;
    margin-left: 10vw;
    padding: 0vw;
    font-size: 1.5rem;
    text-align: left;
    
}
.pricebox button span {
    font-size: 0.6rem;
    line-height: 2rem;
    padding-right: 1vw;
}

.producttitle a {
    display: none;
}

.productspecifications {
    width: 90%;
    margin: auto;
}
.productspecifications ul {
    width: 90%;
    margin: auto;
    padding: 3vw;
}

.productspecifications li {
    width: 80%;
}

.productspecifications .divtitle {
    font-size: 0.9rem;
    padding: 1vw;
    margin-right: 8vw;
}
.productspecifications .underline {
    border: 8px solid #F0005E;
    border-radius: 8px;
    margin-bottom: -2.2%;
    margin-right: 10%;
    margin-left: 40%;
    z-index: -2;
}

.productintroduction {
    width: 90%;
    margin: auto;

}
.productintroduction p {
    width: 90%;
    margin: auto;
    padding: 3vw;

}
.productintroduction .divtitle {
    font-size: 0.9rem;
    padding: 1vw;
    margin-right: 8vw;
}
.productintroduction .underline {
    border: 8px solid #F0005E;
    border-radius: 8px;
    margin-bottom: -2.2%;
    margin-right: 10%;
    margin-left: 40%;
    z-index: -2;
}
.delivery {
    width: 90%;
    margin: auto;
    
}
.delivery .divtitle {
    font-size: 0.9rem;
    padding: 1vw;
    margin-right: 8vw; 
}
.delivery .underline {
    border: 8px solid #F0005E;
    border-radius: 8px;
    margin-bottom: -2.2%;
    margin-right: 10%;
    margin-left: 40%;
    z-index: -2;
}
.delivery ul {
    width: 90%;
    margin: auto;
    padding: 3vw;
}

.productbutton {
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 15vw;
    border-radius: 0;
    font-size: 1.2rem;
}


/*Footer Section*/
footer {
    display: none;
  }
  
