/*universal styles*/
@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/architectsdaughter/v11/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: iranSans;
    src: url(./Resources/fonts/ttf/IRANSansWeb.ttf);
}
body {
    box-sizing: border-box;
    margin: 0;
    background-color: #F9F9F9;
    overflow-x: hidden;
}
* {
    font-family: 'iranSans', tahoma, sans-serif;

}
html {
    font-size: 16px;

}
/*header section*/

.home__header {
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0,0,0,16%);
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    width: 100vw;
}

.logotype {
    font-size: 32px;
    font-family: 'Architects Daughter';
    padding: 1vw 0;
}
.logo {
    width: 2%;
    margin: 1vw 15.15625vw 1vw 1vw;
    text-align: right;
}

/*banner section*/

.home__banner {
    background-image: url('./Resources/images/background.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__title {
    color: #F0005E;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
}

.home__search {
    background-image: url('./Resources/SVGs/search.svg');
    background-position: 1vw 1vw;
    background-repeat: no-repeat;
    width: 65%;
    height: 10%;
    font-size: 1.5rem;
    text-align: right;
    padding-right: 1vw;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0,0,0,16%);
    margin-bottom: 2%;
}
::placeholder {
    color: #D3D0CB;
}

.home__stats {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: bold;
}

.home__text {
    padding-right: 0.5rem;

}

/*categories section*/

.home__categories {
    display: grid;
    grid-template-columns: repeat(6, 10vw);
    grid-template-rows: 10vw 10vw;
    grid-gap: 1.25vw;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 12.5vw;
}

.home__box {
    background-color: #E0E2DB;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
}
.home__box a {
    text-decoration: none;
}
.home__box:hover {
    background-color: #D3D0CB;
}

.home__box img {
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*Footer Section*/
footer {
    background-color: #ffffff;
    box-shadow: 0px -3px 6px rgba(0,0,0,16%);
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.home__social {
    float: left;
    padding-left: 2vw;
}
.home__social img {
    padding: 1vw 1vw 1vw 0;
    cursor: pointer;
    width: 2vw;
}
.home__nav {
    float: right;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 2.5vw;
    padding-top: 1.25vw;

}
.home__nav span {
    padding-left: 2vw;
}